* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #0c192c;

}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bubbles{
    position: relative;
    display: flex;
}
.bubbles span{
    position: relative;
    width: 100px;
    height: 50px;
    background-color: aqua;
    margin:  0 4px;
    border-radius: 50%;
    box-shadow:  0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation:  animate 15s linear infinite;
    animation-duration: calc(125s /  var(--i));
}

.bubbles span:nth-child(even){
    background: #ff2d75;
    box-shadow:  0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
}

@keyframes animate{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}
/* .boton1 button {
    margin-left: 720px;
    width: 200px;
    height: 100px;
    position: relative;
    top: -705px;
    background-color:darkgreen;

}
.boton button{
    margin-left: 60px;
    width: 200px;
    height: 100px;
    position: relative;
    top: -600px;
    background-color: aqua;

}
.boton2 button {
    margin-left: 1500px;
    width: 200px;
    height: 100px;
    position: relative;
    top: -800px;background-color: blueviolet;

}
.boton3 button{
    margin-left: 60px;
    width: 200px;
    height: 100px;
    position: relative;
    top: -600px;
    background-color: yellow;

}
.boton4 button{
    margin-left: 710px;
    width: 200px;
    height: 100px;
    position: relative;
    top: -700px;
    background-color: blue;

}
.boton5 button{
    margin-left: 1500px;
    width: 200px;
    height: 100px;
    position: relative;
    top: -800px;
    background-color: red;
} */
