body{

background-image: url(https://img.freepik.com/foto-gratis/experiencia-programacion-persona-que-trabaja-codigos-computadora_23-2150010125.jpg) ;
background-repeat: no-repeat;
background-size: cover;
text-align: center;
}
.theme-light{
    background-color: whitesmoke;

}

.theme-light .card{
    background-color: lightgray;
}

.theme-light button{
    background-color: gray;
    color: white;
    border: none;

}

.theme-light button:hover{
    background-color: whitesmoke;
    color: black;
    border: none;

}

.theme-light select{
    background-color: lightgrey;
    border: none;

}

.theme-light select:hover{
    background-color: gray;
    color: whitesmoke;
     border: none;

}
.h3{
    border: solid 3px white;
    color: white;
    background-color: black;
    padding: 10px;
}
.h1{
    border: solid 3px white;
    color: white;
    background-color: black;
    padding: 10px;
    margin-top: 364px;
}
.img1{
    margin-left: 550px;
    margin-top: -48px;

}
.img2{
    margin-left: 450px;
    margin-top: -48px;

}
.img3{
    margin-left: 650px;
    margin-top: -48px;

}

